<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Details Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding >
    <div class="row header" style="font-style:oblique;">
      <div class="col"><strong>Id</strong></div>
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Username</strong></div>
      <div class="col"><strong>Email</strong></div>
      <div class="col"><strong>Phone No.</strong></div>
      <div class="col"><strong>Created At</strong></div>
      <div class="col"><strong>Modified At</strong></div>
      <div class="col"><strong>Options</strong></div>
    </div>
    <div class="result" *ngIf="check">
      <div class="row" *ngFor="let d of dataElement" >
        <div class="col">{{d.id}}</div>
        <div class="col">{{d.name}}</div>
        <div class="col">{{d.uname}}</div>
        <div class="col">{{d.email}}</div>
        <div class="col">{{d.phone}}</div>
        <div class="col">{{d.createdAt}}</div>
        <div class="col">{{d.modifiedAt}}</div>
        <div class="col" style="font-size:25px;"><ion-icon button name="brush" (click)="edit(d.id)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-icon><ion-icon button name="trash" (click)="delete(d.id)"></ion-icon></div>
      </div>
    </div>  
  <button class="btn" ion-button block (click) = "showTable()" ><ion-icon name="eye"></ion-icon>&nbsp; &nbsp;See User Details</button>

  
</ion-content>
